[Desktop Entry]
Name=Relaxed Dark
Comment=A relaxing dark theme to make your daily computer usage pleasant for your eyes
X-KDE-PluginInfo-Author=TobiasDev
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=contact@johansson-tobias.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL 3+
X-KDE-PluginInfo-Name=Relaxed Dark
X-KDE-PluginInfo-Version=0.2.0
X-KDE-PluginInfo-Website=https://github.com/TobiasDev/relaxed-dark
X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KPackage-Dependencies=