[Desktop Entry]
Name=Relaxed Dark
Comment=A relaxing dark theme to make your daily computer usage pleasant for your eyes

X-KDE-PluginInfo-Author=TobiasDev
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Email=contact@johansson-tobias.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=CC BY-SA 4.0
X-KDE-PluginInfo-Name=Relaxed Dark

# If you do changes to SVG files in your theme, make sure to update the version number X-KDE-PluginInfo-Version so Plasma can properly refresh its cache.
X-KDE-PluginInfo-Version=0.2.0
X-KDE-PluginInfo-Website=https://github.com/TobiasDev/relaxed-dark
X-Plasma-API=5.0

# The X-KDE-PluginInfo-Name entry should match the name of the sub-folder in share/plasma/desktoptheme where the SVG files for this theme exist. 
X-KDE-PluginInfo-Name=relaxed-dark

# If the theme should inherit from another theme than the "default" one
# [Settings]
# FallbackTheme=breeze

[BlurBehindEffect]
enabled=true

[ContrastEffect]
contrast=0.30
enabled=true
saturation=1.6

