[Desktop Entry]
Name=Relaxed Dark
Comment=A relaxing dark theme to make your daily usage pleasant for your eyes
X-KDE-PluginInfo-Name=Relaxed Dark
X-KDE-PluginInfo-Author=TobiasDev
X-KDE-PluginInfo-Category=Aurorae Theme
X-KDE-PluginInfo-Email=contact@johansson-tobias.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=CC BY-SA 4.0
X-KDE-PluginInfo-Version=0.2.0
X-KDE-PluginInfo-Website=https://github.com/TobiasDev/relaxed-dark
