[SddmGreeterTheme]
Name=Relaxed Dark
Description=A relaxing dark theme to make your daily usage pleasant for your eyes
Type=sddm-theme
Author=TobiasDev
Copyright=(c) 2020, TobiasDev
Screenshot=preview.jpg
License=GPLv3
Version=2.0
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=relaxed-dark
Theme-API=2.0
Website=addwebsite

